html {
  overflow-x: hidden;
}

/* Navigation Section Start */
.customNav {
  width: 100%;
  background: url("../images/transparency.png");
  background-color: transparent !important;
  background-size: cover;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
  color: white;
}
.navbar-brand img {
  padding-right: 15px;
  width: 65px;
}
.nav-item {
  margin: 0px 15px;
}
.customNav a {
  color: white !important;
}

/* Navigation Section End */

/* Hero Section Start */
/* ------------------------------------------------------------- */
.heroBackground {
  background-color: aqua;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100vh;
  border: 5px solid yellowgreen;
}
/* Hero Section End */

/* About Me Section Start */
/* ------------------------------------------------------------- */
.aboutMeContainer {
  background-color: purple;
  border: 5px solid gold;
}

.aboutMeImg {
  border: 1px solid red;
  height: 300px;
  width: 300px;
}
/* About Me Section End */

/* Work Section Start */
.workBackground {
  background-color: cadetblue;
  border: 5px solid orangered;
}

.valueProp {
  border: 5px solid hotpink;
}

.imageContainer img {
  height: 200px;
  width: 300px;
}
/* Work Section End */

/* My Skill Section Start */
/* ------------------------------------------------------------- */
.skillContainer {
  border: 5px solid green;
}

/* My Skill Section End */

/* Footer Section Start */
/* ------------------------------------------------------------- */
.skill-card-body {
  border: 2px solid blue;
}

.footerContainer {
  border: 5px solid blue;
}

/* Footer Section End */
