:root {
  --paragraph-text-colour: #4a6163;
  /*Header colours*/
  --header-bg-color: #388087;
  --navbar-h1-bg-color: lightseagreen;
  --nav-bar-h1-colour: #f6f6f2;
  --nav-link-hover-colour: darkslategray;
  --nav-anchor-text-colour: #eeeeee;
  /*banner colours*/
  --banner-h2-bg-colour: lightseagreen;
  --banner-h2-font-color: #f6f6f2;
  --profile-pic-border-color: lightseagreen;
  /*subheading colours*/
  --grid-subheading-border-colour: #6fb3b8;
  --grid-subheading-h2-font-colour: lightseagreen;

  /*work-project-grid-colours*/
  --work-prog-grid-border-col: #6fb3b8;
  --work-prog-grid-card-cotainer-bg-color: #6fb3b8;

  /*contact section colors*/
  --span-contact-link-head-col: #388087;
  --contact-anchor-hover-colour: lightseagreen;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #f7f9fb;
}

svg {
  height: 40px;
  width: 40px;
}
a i {
  height: 30px;
  width: 30px;
}

h1[.border-bottom] {
  background-color: #17252a;
}

/* Navigation Section Start */
.customNav,
.dropdown-menu {
  width: 100%;
  background-color: rgba(58, 175, 169, 0.8) !important;
  background-size: cover;
  z-index: 10;
}
.navbar-nav,
.dropdown-menu {
  margin-left: auto;
  margin-right: 0 !important;
  font-weight: 500;
  color: #17252a !important;
}
.navbar-nav,
.dropdown-menu,
.nav-item:hover {
  color: #feffff !important;
}

.navbar-brand img {
  padding-right: 15px;
  width: 65px;
}
.nav-item {
  margin: 0px 15px;
}
.customNav,
.dropdown-menum .nav-item a {
  color: #17252a !important;
  font-weight: 500;
}
.customNav,
.nav-item a:hover {
  color: #feffff;
}

.nav-img {
  height: 75px;
}

/* Navigation Section End */

/* Hero Section Start */
/* ------------------------------------------------------------- */
.heroBackground {
  background-image: url("../images/pexels-photo-777001.webp");
  background-size: cover;
  background-position: center;
  border: 2px solid #3aafa9;
}
.heroOverLay {
  background-color: rgba(58, 175, 169, 0.8) !important;
  border: 2px solid #feffff;
}
.HeroheadingColour {
  color: #17252a !important;
  font-weight: 900;
  -webkit-text-stroke: 2px feffff;
}

.headingColour {
  color: #feffff !important;
  font-weight: 900;
  -webkit-text-stroke: 2px #17252a;
}

/* Hero Section End */

/* About Me Section Start */
/* ------------------------------------------------------------- */
.aboutMeContainer {
  background-color: rgba(222, 242, 241, 0.8) !important;
  border: 2px solid #3aafa9;
}

.aboutMeImg {
  border: 1px solid red;
  height: 300px;
  width: 300px;
}
/* About Me Section End */

/* Work Section Start */
/* ------------------------------------------------------------- */
.workBackground {
  background-color: rgba(222, 242, 241, 0.8) !important;
  border: 2px solid #3aafa9;
}
.projectBackground {
  color: #17252a;
  background-color: #3aafa9;
  border: 2px solid #2b7a78;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.projectBackground:hover {
  color: #feffff;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transform: scale(1.1);
}
.valueProp {
  border: 5px solid hotpink;
}

.imageContainer img {
  height: 200px;
  width: 300px;
}
/* Work Section End */

/* My Skill Section Start */
/* ------------------------------------------------------------- */
.skillContainer {
  background-color: rgba(222, 242, 241, 0.8) !important;
  border: 2px solid #3aafa9;
}

.feature {
  color: #17252a !important;
  background-color: #3aafa9 !important;
  border: 2px solid #2b7a78 !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px !important;
}

.feature:hover {
  color: #feffff !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transform: scale(1.1);
}

/* My Skill Section End */

/* Footer Section Start */
/* ------------------------------------------------------------- */
.skill-card-body {
  border: 2px solid blue;
}

.footerContainer {
  background-color: rgba(58, 175, 169, 0.8) !important;
}

/* Footer Section End */
